<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ndauwalletrn.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>8F2481ABF99F29569F992FB8484B26406217AEAB</string>
				<key>dateExpires</key>
				<string>7/18/19</string>
				<key>type</key>
				<string>iOS Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>52CMB5YQ7W.org.oneiro.ndau.wallet</string>
				<key>beta-reports-active</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>52CMB5YQ7W</string>
				<key>get-task-allow</key>
				<false/>
				<key>keychain-access-groups</key>
				<array>
					<string>52CMB5YQ7W.org.oneiro.ndau.wallet</string>
				</array>
			</dict>
			<key>name</key>
			<string>ndauwalletrn.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>ed3f99fd-f53b-4157-b93b-56cb352c5ba1</string>
				<key>name</key>
				<string>iOS Team Store Provisioning Profile: *</string>
			</dict>
			<key>symbols</key>
			<true/>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>52CMB5YQ7W</string>
				<key>name</key>
				<string>Oneiro NA, Inc.</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
