<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ndau wallet</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.9</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>206</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSAppleMusicUsageDescription</key>
	<string>The ndau wallet does not currently use music data.</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>The ndau wallet does not currently use Bluetooth data.</string>
	<key>NSCalendarsUsageDescription</key>
	<string>The ndau wallet does not currently use calendar data.</string>
	<key>NSCameraUsageDescription</key>
	<string>The ndau wallet will use your camera to scan a QR token for account verification purposes.</string>
	<key>NSLocationAlwaysUsageDescription</key>
	<string>The ndau wallet app does NOT use your location in any way.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>The ndau wallet app does NOT use your location in any way.</string>
	<key>NSMotionUsageDescription</key>
	<string>The ndau wallet does not currently use motion data.</string>
	<key>NSSpeechRecognitionUsageDescription</key>
	<string>The ndau wallet does not currently use speech data.</string>
	<key>UIAppFonts</key>
	<array>
		<string>TitilliumWeb-Bold.ttf</string>
		<string>TitilliumWeb-BoldItalic.ttf</string>
		<string>TitilliumWeb-Italic.ttf</string>
		<string>TitilliumWeb-Light.ttf</string>
		<string>TitilliumWeb-LightItalic.ttf</string>
		<string>TitilliumWeb-Regular.ttf</string>
		<string>icomoon.ttf</string>
		<string>FontAwesome5_Pro_Light.ttf</string>
		<string>OpenSans-Bold.ttf</string>
		<string>OpenSans-BoldItalic.ttf</string>
		<string>OpenSans-ExtraBold.ttf</string>
		<string>OpenSans-ExtraBoldItalic.ttf</string>
		<string>OpenSans-Light.ttf</string>
		<string>OpenSans-Italic.ttf</string>
		<string>OpenSans-LightItalic.ttf</string>
		<string>MaterialIcons-Regular.ttf</string>
	</array>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
		<string>remote-notification</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UIStatusBarStyle</key>
	<string>UIStatusBarStyleLightContent</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
